body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        margin: 0;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
}

body {
    margin: 10px;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/**
  Carousel 
**/
.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 90vh;
    margin: 0px auto;
    z-index: 1;
}

.carousel-image {
    width: 100%;
    height: 85vh;
    display: block;
}

@media (max-width: 500px) {
  .carousel-image {
      width: 80% auto; /* Adjust percentage as needed */
  }
}

.carousel-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item.active {
    display: block;
    position: relative;
}

.carousel-content {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-repeat: repeat;
}

.footer-text {
    margin: 0;
}

/* .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */
.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px ;
    gap: 0px;
}

.left-item,
.right-item {
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.left-item {
    text-align: left;
}

.right-item {
    text-align: right;
}

@media (max-width: 600px) {
    .content-section {
        grid-template-columns: 1fr;
    }

    .left-item,
    .right-item {
        position: relative;
        width: 100%;
    }

    .left-item:not(:first-child) {
        margin-top: -20px; /* Adjust to control overlap amount */
    }

    .right-item:not(:first-child) {
        margin-top: -20px; /* Adjust to control overlap amount */
    }
}

/* .footer {
  background-color: #333;
  color: white;
  width: 100%; 
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: relative;
  bottom: 0pt;
  left: 0pt;

}    */
